@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&display=swap');

@import "styles/components/main.css";
@import "styles/effects/ripple.css";
@import "styles/effects/shadow.css";
@import "styles/effects/loading.css";
@import "styles/components/nav.css";
@import "styles/components/topbar.css";
@import "styles/components/button.css";
@import "styles/components/dialog.css";
@import "styles/components/card.css";
@import "styles/components/input.css";

html {
  display: initial !important; /* CLS */
  transition: 
    background-color 0.5s cubic-bezier(0, 0, 0, 1),
    color 0.5s cubic-bezier(0, 0, 0, 1);

  --primary: #febd94;
  --on-primary: #472101;
  --primary-container: #6f2f28;
  --on-primary-container: #ffcec0;

  --secondary: #c396ed;
  --on-secondary: #3d1a64;
  --secondary-container: #593481;
  --on-secondary-container: #ffd1ff;

  --background: #1f1424;
  --on-background: #e5e3e8;
  --surface: #1f1424;
  --on-surface: #efdef5;

  --surface-variant: #3f345a;
  --on-surface-variant: #c1b2e1;
  --outline: solid 0.05rem #8a819b;

  --border-radius: 0.5rem;
  --outline: solid 1.5px #888;

  background-color: var(--background);
  color: var(--on-background);
  font-family: 'Open Sans';
}
/* html[light] {
  --primary: hsl(212, 82%, 40%);
  --on-primary: hsl(212, 82%, 100%);
  --primary-container: hsl(212, 82%, 90%);
  --on-primary-container: hsl(212, 82%, 10%);
  
  --secondary: hsl(300, 2%, 40%);
  --on-secondary: hsl(300, 2%, 100%);
  --secondary-container: hsl(300, 2%, 90%);
  --on-secondary-container: hsl(300, 2%, 10%);
  
  --background: hsl(0, 0%, 100%);
  --on-background: hsl(0, 0%, 10%);
  
  --surface: hsl(212, 100%, 98%);
  --on-surface: hsl(0, 0%, 10%);
  --surface-variant: hsl(212, 24%, 93%);
  --on-surface-variant: hsl(0, 0%, 30%);
}*/

::-webkit-scrollbar {
  width: 0.25rem;
  background-color: #8884;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background-color: #8884;
}